.pokemonDetail{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  font-size: larger;
}
.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.stats div{
  display: flex;
  flex-direction: column;
}
.dimensiones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokeDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(100%);
}
.false_background{
  position: absolute;
  background-color: black;

  opacity: 50%;
  width: 50%;
  height: 100vh;
  left: 25%;
}
.detail_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail_info div{
  margin: 7px;
}

.info_cointainer{
  display: flex;
  justify-content: center;
}
.eachInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.eliminate_card{
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px black solid;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 60;
}
.eliminate_card div button{
  margin: 5px 10px;
}

.eliminate_button{
  display: flex;
  justify-content: center;
}

.pokemon_image img{
  max-height: 500px;
  display: flex;
  margin: 0px auto;

}


/* -------------------------------------------------- */


/* CSS */
.button_24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button_24:hover,
.button_24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button_24:active {
  opacity: .5;
}

 /* -------------------- */


 .button_32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 100;
}

.button_32:not(:disabled):hover,
.button_32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button_32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}


.button_update {
  margin:  0px 10px;
  background: #425eff;
  border: 1px solid #425eff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button_update:hover,
.button_update:active {
  background-color: initial;
  background-position: 0 0;
  color: #425eff;
}

.button_update:active {
  opacity: .5;
}

.formUpdate{
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px black solid;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 70;
}

.closing_div{
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}