.nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #c7c16c;
  justify-content: space-between;
}
.nav_item{
  display: flex;
  align-items: center;
}
.nav_item img{
  height: 9vh;
}